<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>srn-api</contextName>
    <property name="SRN_API_HOME" value="/home/sarirasa/logs" />
    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SRN_API_HOME}/srn-api.log</file>
        <encoder>
            <immediateFlush>true</immediateFlush>
            <pattern>%contextName|%date{ISO8601,GMT+07}|%-5level|%mdc{id}|%thread|%logger{32}|%message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${SRN_API_HOME}/archived/srn-api.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.srn.api" level="info" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>

    <root level="error">
        <appender-ref ref="FILE-AUDIT" />
    </root>

</configuration>
